@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

html {
    background: linear-gradient(120deg, #E8DBFC, #F8F9D2);
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    font-family: 'Lato', sans-serif;
}

header h2 {
    font-weight: 300;
}

header span {
    font-weight: bold;
}

.input-area {
    display: flex;
    justify-content: space-evenly;
    font-size: 130px;
    padding-top: 3%;
}

.rock, .paper, .scissor {
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, #9F98E8, #AFF6CF);
    border-image-slice: 1;
    padding: 25px;  
    box-shadow: 0 0 0 8px 100px #fff;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: .3s;
}

.rock:hover, .paper:hover, .scissor:hover {
    background-color: rgba(255, 255, 255, 0.461);
}

.output-area {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    padding: 5%;
    align-items: center;
}

.output-area h3 {
    font-size: 24px;
}

.output-area span {
    font-size: 90px;
}